<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="project-edit">

        <h2>Editing Project</h2>

        <%= render 'form', project: @project %>

        <%= link_to 'Show', @project, class:"btn btn-primary" %>
        <%= link_to 'Back', projects_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
