<div class="container">
  <div class="row">
    <div class="col-6">

      <div class="project-new">

        <h2 class="project-new-title">New Project</h2>

        <%= render 'form', project: @project %>

      </div>

    </div>
  </div>
</div>
