<div class="container">
  <div class="row">
    <div class="col">
      <div class="context">
        <h2>Welcome!</h2>
        <p>
          Manage multiple projects at once, wherever you are.
          Puts everything you need to get work done in one place!
        </p>
      </div>
    </div>
  </div>
</div>


<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >
