<%
  # We need a child element for every subtask.
  # Accessed via: parent.querySelector(".content-toggle");
%>
<% subtasks = Task.where(parent_id: task[:id]) %>
<div class="row"><div class="col-4"></div>
  <div class="col-2">
  <% subtasks.each do |subtask| %>
    <li class="hidden">
      <% render "tasks/task_list_item", task: subtask %>
    </li>
  <% end %>
</div>
